.header{
    background: url("../img/beach_bg.jpg") no-repeat top center;
    position: relative;

    .bgmask {
        background: linear-gradient(0deg, #2f3e49 0%, rgba(47, 62, 73, 1) 40%, rgba(47, 62, 73, 0.1) 55%, rgba(47, 62, 73, 0) 100%);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        @include respond-to("large") {
            background: linear-gradient(0deg, #2f3e49 0%, rgba(47, 62, 73, 1) 50%, rgba(47, 62, 73, 0.1) 80%, rgba(47, 62, 73, 0) 100%);
        }
    }
    .content {
        position: relative;
        z-index: 1;
        
    }
    .logo {
        width: 69.502px;
        height: 30px;
    }
    .top-container {
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .top-container .cls-1 {
        fill: $third-color;
    }
    .top-container .cls-2 {
        fill: $primary-color;
    }
    .burgermenu {
        width: 30px;
        cursor: pointer;
    }
    .middle-logo {
        width: 274px;
    }
    .main-paragraph {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        @include respond-to("medium") {
            flex-direction: row;
            margin: 50px auto auto 127px;
            text-align: left;
            align-items: flex-start;
        }
    }
    h1 {
        color: $primary-color;
        background-color: $third-color;
        margin: 50px 0;
        text-transform: uppercase;
        font-family: $primary-font;
        font-size: 1.5em;
        padding: 10px 25px;
    }
    h2 {
        @include respond-to("medium") {
            width: 826px;
        }
    }
    #miniicons {
        width: 290.23px;
        height: 50px;
    }
    #p-icon {
        width: 133.154px;
        height: 118.15px;
        margin: 24px 0 0 0;
        
        @include respond-to("medium") {
            margin: 24px 24px 0 0;
        }
    }
}