$primary-font: 'Montserrat',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
$primary-color: rgb(47, 62, 73);
$secondary-color: #F96400;
$third-color: #73C8DE;
$font-color:white;
$content-width: 700px;
$small-padding: 36px;
$large-padding: 72px
