@import "breakpoints";
@import "variables";
@import "header";


body {
    background-color: #2F3E49;
    font-family: $secondary-font;
}
.container {
    width: 100%;
    margin: 0 auto;

    @include respond-to("large") {
        width: 1280px;
    } 
}
h2 {
    font-family: $primary-font;
    color: $secondary-color;
    font-size: 1.5em;
    
    @include respond-to("small") {
        font-size: 2em;
    }
    @include respond-to("large") {
        font-size: 3em;
    }
}
h3 {
    color: $secondary-color;
}
p {
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 20px;
}
p.double-space-down {
    margin-bottom: 40px;
}
.text-dirty {
    color: #909090;
    margin: 0 0 0 25px;
    font-size: 16px;
}
.d-none {
    display: none;
}
.d-md-block {
    @include respond-to("medium") {
        display: block;
    }
}
ul {
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    padding: 0 0 0 17px;
}
article {
    margin-bottom: 25px;
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    display: flex;
}
.article-content {
    width: 100%;

    @include respond-to("medium") {
        width: $content-width;
    }
}
.first-article {
    .icon-2 {
        width: 265px;
        margin-right: 24px;
    }
    .icon-3 {
        width: 205px;
        align-self: flex-end;
        margin: 0 0 133px 24px;
    }
}

.second-article {
    margin: 0  auto;

    .icon-4 {
        width: 88.5px;
        align-self: flex-end;
        margin: 0 50px -50px 150px;
    }
}
.third-article {
    #logo-12 {
        width: 168.5px;
        margin-right: 40px;
    }
    .article-content{
        display: flex;
        flex-direction: column;
    }
    .icon-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        #logo-11 {
            width: 157.9px;
            margin-top: 300px;
        }

        #logo-13 {
            width: 266.6px;
            
        }
    }
}
.small-padding {
    padding-bottom: $small-padding;
}
.large-padding {
    padding-bottom: $large-padding;
}
span {
    font-family: 'Montserrat', sans-serif;
}
.destinations {
    display: flex;
    margin: 100px auto 150px auto;
   

    .map {
        width: 835px;
    }
    .list {
        width: 428px;
        height: 639px;
    }
}